
.container {
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
.section-one {
    background-color: black;
    color: white;
    margin: 20px;
}

.section-one__button {
    background-color: red;
}

.section-two {

    margin: 20px;
}

.section-three {
    background-color: rgb(19, 125, 238);
    color: rgb(11, 10, 10);
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    height: 250px;
}

.section-four {
    background-color: rgba(255, 138, 22, 0.945);
    color: rgb(11, 10, 10);
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    height: 250px;
}

.section-five {
    background-color: rgba(10, 10, 10, 0.945);
    color: rgb(252, 250, 250);
    margin: 20px;

}
.form{
    margin: 20px;
}